@charset "UTF-8";
/* CSS Document */
		
				/* Font rules code BEGIN */
		
			mark {
				background-color: #7F7FFF;
				color: #FFFFFF;
				font-weight: 500;
			}
		
			li {
				text-indent: 2rem;
				line-height: 1.5rem;
			}
		
			ul {
				font-family: "Josefin Sans", sans-serif;
				font-size: 1rem;
				font-weight: 100;
				padding: .5rem;
				margin: 1rem;
				color: #E281F6;
				list-style-type: none;
			}
		
			ul li {
				text-indent: 2rem;
				line-height: 1.5rem;
				position: relative;
			}
		
			ul li:before {
				content: "";
				position: absolute;
				left: 0; top: 0.5em;
				width: 1em; height: 1em;
				mask: url("data:image/svg+xml;utf8,<svg width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288 288'><rect x='42.7' y='42.7' width='202.6' height='202.6' fill='white' transform='translate(-59.6 144) rotate(-45)'/></svg>") no-repeat center/contain;
				-webkit-mask: url("data:image/svg+xml;utf8,<svg width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288 288'><rect x='42.7' y='42.7' width='202.6' height='202.6' fill='white' transform='translate(-59.6 144) rotate(-45)'/></svg>") no-repeat center/contain;
				background-color: currentColor;
				display: inline-block;
			}
		
			ol {
				font-family: "Josefin Sans", sans-serif;				
				font-size: 1rem;
				font-weight: 100;
				padding: .5rem;
				margin: 1rem;
				}
			
			h1 {
				font-family: "Kumar One", sans-serif;
				font-size: 8rem;
				font-weight: 700;
				letter-spacing: 0rem;
				padding: 3rem;
				box-sizing: border-box;
				display: block;
				margin: 0 auto;
				text-align: center;
				z-index: 2;
				color: #210529;
				text-shadow: rgba(33, 5, 41, .5) 0rem 1rem 1rem;
			}
			
			h2 {
				font-family: "Josefin Sans", sans-serif;
				font-size: 3rem;
				font-weight: 650;
				margin: 0rem;
			}
			
			h3 {
				font-family: "Josefin Sans", sans-serif;
				font-size: 2rem;
				font-weight: 600;
				margin: 0rem;
			}

			h3 {
				font-family: "Josefin Sans", sans-serif;
				font-size: 1.5rem;
				font-weight: 500;
				margin: 0rem;
			}
			
			p {
				font-family: "Josefin Sans", sans-serif;
				font-size: 1rem;
				font-weight: 100;
				text-indent: 3rem;
			}
			
			b {
				font-family: "Josefin Sans", sans-serif;
				font-size: 1rem;
				font-weight: 700;
			}
			
			u {
				font-family: "Josefin Sans", sans-serif;
				text-decoration: underline;
			}
		
			a {
				font-family: "Josefin Sans", sans-serif;
				font-size: 1rem;
				font-weight: 500;
				color: #FFFFFF;
				border-radius: 1rem;
				padding: .5rem;
				text-decoration: none;
			}
		
			a:hover {
				text-decoration: none;
				color: #D3B8E4;
			}

					/* Font rules code END */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
				/* Navbar code START */

			.navbar {
				position: sticky;
				top: 0rem;
				left: 0rem;
				height: 2rem;
				width: auto;
				margin: 0 auto;
				z-index: 2;
				background-color: #25032C;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.nav-links {
				display: flex;
				flex: 1 1 auto;
				justify-content: space-evenly;
				width: 90vw;
			}

			.nav-links a {
				color: #FFFFFF;
				text-decoration: none;
				font-weight: 500;
				padding: 0 1rem;
				letter-spacing: 0.1rem;
				transition: color 0.2s;
			}

			.nav-links a:hover {
				color: #D3B8E4;
			}
		
					/* Navbar code END */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
				/* Lightbox code START */
		
			.lightbox-overlay {
				position: fixed;
				z-index: 3;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100vw; height: 100vh;
				background: rgba(0,0,0,0.5);
				display: none;
				justify-content: center;
				align-items: flex-start;
				overflow: auto;
			}
			.lightbox-overlay:target { display: flex; }

			.lightbox-image-container {
				background: #fff;
				margin-top: 10vh;
				border-radius: 1.5rem;
				box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.5);
				max-width: 95vw;
				padding: 1.5rem 1.5rem 1rem 1.5rem;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			.lightbox-image-container img {
				display: block;
				max-width: 80vw;
				width: auto;
				height: auto;
				margin: 0 auto;
				box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
				border-radius: 0.5rem;
			}

			.lightbox-close {
				position: absolute;
				top: 0.5rem;
				right: 0.5rem;
				color: red;
				border-radius: 1rem;
				width: 25px; height: 25px;
				text-align: center;
				font-size: 2rem;
				line-height: 2rem;
				font-weight: bold;
				text-decoration: none;
				border: none;
				cursor: pointer;
				z-index: 2;
				transition: background 0.2s, color 0.2s;
				background-color: transparent;
				outline: none;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-bottom: 1rem;
			}
			.lightbox-close:hover {
				color: red;
			}
		
			/* Lightbox code END */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			/* Body & Section/DIV code START */
			body {
				height: 100vh;
				font-family: "Josefin Sans", sans-serif;
				font-size: 1rem;
				color: #25032C;
			}
		
			#bodywrapper {
				opacity: 0;
				display: block;
				place-items: center;
				height: 10vh;
			}
			
			.body-grid-container {
				column-count: 3;
				column-gap: 1.5rem;
				width: 100%;
				margin: 2rem auto;
				padding: 0;
			}
		
				
			section.color-palette {
				  display: grid;
				  grid-gap: 1rem;
				  min-width: 0;
				  min-height: 0;
				  font-family: "Josefin Sans", sans-serif;
				  color: #FFFFFF;
				  font-weight: 100;
				  font-size: 1rem;
				  grid-template-columns: 1fr 1fr 1fr;
				  grid-template-areas:
					"color1 color2 color3"
					"color4 color4 color5";
				}
		
			.color1 {
				background-color: #002e54;
				padding: 1.5rem;
				border-radius: 1rem;
				grid-area: color1;
				color:#FFFFFF;
				font-family: "Josefin Sans", sans-serif;
				font-weight: 100;
				font-size: 1rem;
			}
		
		
			.color2 {
				background-color: #7F7FFF;
				padding: 1.5rem;
				border-radius: 1rem;
				grid-area: color2;
				color:#FFFFFF;
				font-family: "Josefin Sans", sans-serif;
				font-weight: 100;
				font-size: 1rem;
			}
		
		
			.color3 {
				background-color: #210529;
				padding: 1.5rem;
				border-radius: 1rem;
				grid-area: color3;
				color:#FFFFFF;
				font-family: "Josefin Sans", sans-serif;
				font-weight: 100;
				font-size: 1rem;
			}
		
			.color4 {
				background-color: #002e54;
				padding: 1.5rem;
				border-radius: 1rem;
				grid-area: color4;
				color:#FFFFFF;
				font-family: "Josefin Sans", sans-serif;
				font-weight: 100;
				font-size: 1rem;
			}
		
			.color5 {
				background-color: #210529;
				padding: 1.5rem;
				border-radius: 1rem;
				grid-area: color5;
				color:#FFFFFF;
				font-family: "Josefin Sans", sans-serif;
				font-weight: 100;
				font-size: 1rem;
			}
		
			.div-content {
				display: inline-block;
				width: 100%;
				margin-bottom: 1.5rem;
				background: #210529;
				color: #fff;
				padding: 1.5rem;
				border-radius: 1rem;
				box-sizing: border-box;
			}		

			footer {
				display: flex;
				padding-top: 5rem;
				padding-left: 5rem;
				padding-right: 5rem;
				padding-bottom: 2rem;
				align-items: center;
				justify-content: center;
				background: linear-gradient(rgba(227,237,242,1),rgba(128,128,255,1))
			}

			.socials-container {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				width: 50vw;
			}
			
			.socials-img {
				width: 3rem;
				height: 3rem;
			}
			
			.socials-img:hover {
				box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.2);
				filter: brightness(500%);
				transition: .2s ease-in-out;
				border-radius: 5rem;
			}

			.socials-img:active {
				width: 2.75rem;
				height: 2.75rem;
				transition: .2s ease-out;
			}
			
			hr {
				color: #999999;
				border-style: dashed;
			}
		
		
			section.assignment-description {
				text-shadow: #210529 0rem 0rem 1rem;
				font-family: "Josefin Sans", sans-serif;
				font-weight: 500;
				font-size: 1rem;
				color: #FFFFFF;
				text-align: center;
				margin-left: 3vw;
				margin-right: 3vw;
				padding: 8rem 0rem 0rem 0rem;
				box-sizing: border-box;
				z-index:2;
			}
			
			section.body {
				box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
				display: block;
				margin-left: 3vw;
				margin-right: 3vw;
				margin-top: -1vw;
			}
			
			section.body-content {
				padding: 1rem;
				background-color: #E3EDF2;
			}
		
			section.body-content img {
				display: block;
				width: 60vw;
			}
			
			section.hero-image {
				background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(227, 237, 242, 1)), url("../imgs/bouquet-outline@100x.png");
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				height: auto;
				z-index: 1;
			}
			
			section.hero-image-text {
				font-family: "Kumar One", sans-serif;
				padding: 3rem;
				box-sizing: border-box;
				display: block;
				margin: 0 auto;
				text-align: center;
				z-index: 2;
				color: #210529;
				text-shadow: rgba(33, 5, 41, .5) 0rem 1rem 1rem;
			}
			
			section.hero-image-attribution {
				font-family: Josefin Sans, sans-serif;
				font-size: .5rem;
				color: #FFFFFF;
				text-align: right;
				text-shadow: 0rem 0rem 0rem;
			}
		
			/* Body & Section/DIV code END */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			/* Begin @600PX Media Query */
		
						@media( max-width : 900px ){
								.body-grid-container{
								display: grid;
								grid-gap: 1rem;
								grid-auto-flow: row;
								grid-template-columns: 1fr !important;
								grid-template-areas:
									"item1"
									"item2"
									"item3"
									"item4"
									"item5"
									"item6"
									"item7"
									"item8"
									"item9"
									"item10"
									"item11"
									"item12"
									"item13"
									"item14";
								}

							section.color-palette {
								display: grid;
								grid-template-columns: 1fr 1fr 1fr;
								grid-auto-flow: row;
								grid-gap: 1rem;
								grid-template-areas:
									"color1 color2 color3"
									"color4 color5";
								}
							
							section.assignment-description {
								font-size: 1rem;
								}
							
							.div-content {
								font-family: "Josefin Sans", sans-serif;
								background-color: #210529;
								font-weight: 100;
								font-size: 1rem;
								padding: 1.5rem;
								border-radius: 1rem;
							}
							
							section.hero-image-text {
								font-family: "Kumar One", sans-serif;
								letter-spacing: 0rem;
								font-size: 15vw;
								font-weight: 700;
								padding: 3rem;
								box-sizing: border-box;
								text-align: center;
								display: block;
								margin: 0 auto;
								z-index: 2;
								color: #210529;
								text-shadow: rgba(33, 5, 41, .5) 0rem 1rem 1rem;
							}

							section.hero-image-attribution {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.5rem;
								color: #FFFFFF;
								text-align: right;
								text-shadow: 0rem 0rem 0rem;
								}

							section.body-content img {
								display: block;
								width: 70vw;
							}
							
							ul {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.5rem;
								font-weight: 100;
								padding: .5rem;
								box-sizing: border-box;
								margin: 1rem;
								list-style-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 288 288'><rect class='st0' x='42.7' y='42.7' fill='%23210529' width='202.6' height='202.6' transform='translate(-59.6 144) rotate(-45)'/></svg>");
							}

							ol {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.5rem;
								font-weight: 100;
								padding: .5rem;
								box-sizing: border-box;
								margin: 1rem;
							}

							h1 {
								font-family: "Kumar One", sans-serif;
								font-size: 6rem;
								font-weight: 700;
								letter-spacing: 0rem;
								padding: 3rem;
								box-sizing: border-box;
								display: block;
								margin: 0 auto;
								text-align: center;
								z-index: 2;
								color: #210529;
								text-shadow: rgba(33, 5, 41, .5) 0rem 1rem 1rem;
							}

							h2 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 3rem;
								font-weight: 650;
								margin: 0rem;
							}

							h3 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 2rem;
								font-weight: 600;
								margin: 0rem;
							}
							
							h4 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.5rem;
								font-weight: 500;
								margin: 0rem;
							}

							p {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								text-indent: 3rem;
							}

							b {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 700;
							}

							u {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								text-decoration: underline;
							}

							i {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								font-style: italic;
							}

							section.body-content {
								padding: 1rem;
								font-display: block;
								font-size: 2rem;
								box-sizing: border-box;
								background-color: #E3EDF2;
								}
						}
		
					/* @900PX Media Query END */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
				/* @600PX Media Query BEGIN */
						@media( max-width : 600px ){
								.body-grid-container{
								display: grid;
								grid-gap: 1rem;
								grid-auto-flow: row;
								grid-template-columns: 1fr !important;
								grid-template-areas:
									"item1"
									"item2"
									"item3"
									"item4"
									"item5"
									"item6"
									"item7"
									"item8"
									"item9"
									"item10"
									"item11"
									"item12"
									"item13"
									"item14";
								}

							section.color-palette {
								display: grid;
								grid-template-columns: 1fr 1fr 1fr;
								grid-auto-flow: row;
								grid-gap: 1rem;
								grid-template-areas:
									"color1 color2 color3"
									"color4 color5";
								}
							
							section.body-content img {
								display: block;
								width: 80vw;
							}

							.div-content {
								font-family: "Josefin Sans", sans-serif;
								font-weight: 100;
								font-size: 1rem;
								padding: 1.5rem;
								border-radius: 1rem;
							}
							
							section.hero-image-text {
								font-family: "Kumar One", sans-serif;
								letter-spacing: 0rem;
								font-size: 15vw;
								font-weight: 700;
								padding: 1rem;
								box-sizing: border-box;
								text-align: center;
								display: block;
								margin: 0 auto;
								z-index: 2;
								color: #210529;
								text-shadow: rgba(33, 5, 41, .5) 0rem 1rem 1rem;
							}

							section.hero-image-attribution {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								color: #FFFFFF;
								text-align: right;
								text-shadow: 0rem 0rem 0rem;
								}

							ul {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								padding: .5rem;
								box-sizing: border-box;
								margin: 1rem;
								list-style-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 288 288'><rect class='st0' x='42.7' y='42.7' fill='%23210529' width='202.6' height='202.6' transform='translate(-59.6 144) rotate(-45)'/></svg>");
							}

							ol {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								padding: .5rem;
								box-sizing: border-box;
								margin: 1rem;
							}

							h1 {
								font-size: 10vw;
								font-weight: 700;
								text-align: center;
								z-index: 2;
								color: #210529;
								text-shadow: rgba(33, 5, 41, .5) 0rem 1rem 1rem;
							}

							h2 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 2.5rem;
								font-weight: 650;
								margin: 0 auto;
							}

							h3 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 2rem;
								font-weight: 600;
								margin: 0 auto;
							}
							
							h4 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.5rem;
								font-weight: 500;
								margin: 0 auto;
							}

							p {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								text-indent: 3rem;
							}

							b {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 700;
							}

							u {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								text-decoration: underline;
							}

							i {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1rem;
								font-weight: 100;
								font-style: italic;
							}
							
							li {
								line-height: 1.3rem;
							}

							section.body-content {
								padding: 0rem;
								font-display: block;
								font-size: 2rem;
								box-sizing: border-box;
								background-color: #E3EDF2;
								}
						}
		
/* @600PX Media Query END */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		/* @350PX Media Query BEGIN */
						
				@media( max-width : 350px ){
							section.color-palette {
								display: grid;
								grid-template-columns: 1fr;
								grid-auto-flow: row;
								grid-gap: 1rem;
								grid-template-areas:
								  "color1"
								  "color2"
								  "color3"
								  "color4"
								  "color5";
								}
					
							body {
								width: 95vw;
							}

							section.body-content img {
								display: block;
								width: 95vw;
							}
							
							h1 {
								font-size: 3rem;
    							font-weight: 700;
   								text-align: center;
							}
					
								h2 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 2rem;
								font-weight: 650;
								margin: 0 auto;
							}

								h3 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.75rem;
								font-weight: 600;
								margin: 0 auto;
							}

							h4 {
								font-family: "Josefin Sans", sans-serif;
								font-size: 1.5rem;
								font-weight: 500;
								margin: 0 auto;
							}

					}