@charset "UTF-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to bottom, #e2f4f8, #cecece);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.background-image-attribution-c {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 0.5rem;
	text-align: center;
	color: #ffffff;
	position: absolute;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
	z-index: 10;
}

.background-image-attribution-r {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 0.5rem;
	text-align: right;
	color: #ffffff;
	position: absolute;
	bottom: 2rem;
	right: 8rem;
	z-index: 10;
}

.background-image-attribution-l {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 0.5rem;
	text-align: left;
	color: #ffffff;
	position: absolute;
	bottom: 2rem;
	left: 3rem;
	z-index: 10;
}

.dmb-logo {
	background-image: url("../imgs/Dave-Matthew-Band_Logo-w-circle2.svg");
	filter: drop-shadow(0rem 0rem 3rem #9aacc6);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	z-index: 2;
	opacity: 0;
	transform: translate(-50%, -50%);
	animation: logo-fadein 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
	transition: filter 0.5s ease-in-out;
}

header {
	font-family: "Big Shoulders", sans-serif;
	font-size: 8rem;
	color: #fff;
	position: fixed;
	top: 50vh;
	left: 50vw;
	z-index: 1;
	opacity: 0;
	transform: translate(-50%, -50%);
	animation: logo-fadein 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
	transition: filter 0.5s ease-in-out;
}

@keyframes logo-fadein {
	to {
		opacity: 1;
	}
}

.bodywrapper {
	display: grid;
	grid-auto-columns: 1fr 2fr;
	gap: 1rem;
	grid-column-areas: "discography biography";
	position: absolute;
	padding-top: 15rem;
	top: 1000px;
	left: 0px;
	z-index: 5;
}

.news .bodywrapper {
	display: grid;
	grid-auto-columns: auto;
	grid-row: auto;
	position: absolute;
	top: 1000px;
	left: 0px;
	background-image: linear-gradient(
		rgba(226, 244, 248, 0),
		rgba(226, 244, 248, 1)
	);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100vw;
}

.music .bodywrapper {
	background-image:
		url("../imgs/pexels-padrinan-167092.png"),
		linear-gradient(rgba(226, 244, 248, 0), rgba(226, 244, 248, 1));
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100vw;
}

.index .bodywrapper {
	background-image: url("../imgs/Blue-ridge-mountains_transparent-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100vw;
}

.timeline {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 3rem 0 0 2rem;
	height: auto;
	border-left: 2px solid #ffbc0a;
	border-bottom: none;
	padding-left: 5rem;
}

.discography {
	grid-column: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
	background: rgba(255, 255, 255, 0.03);
	min-width: 0;
	margin-bottom: 25vh;
}

.vertical-label {
	writing-mode: vertical-lr;
	text-orientation: mixed;
	font-family: "Big Shoulders", sans-serif;
	font-size: 3rem;
	letter-spacing: 0.1em;
	color: #ffbc0a;
	font-weight: bold;
	margin-right: 0.8rem;
	margin-left: 3rem;
	margin-top: 50vh;
	align-self: flex-start;
}

.timeline {
	border-left: 2px solid #ffbc0a;
	padding-left: 5rem;
	min-height: 90vh;
}

.biography {
	box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.2);
	position: relative;
	background-color: #ffbc0a;
	padding-left: 2rem;
	min-height: 90vh;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-sizing: border-box;
}

.biography::before {
	box-sizing: border-box;
	width: 100%;
	content: "";
	display: block;
	position: absolute;
	top: -3rem;
	left: 0;
	width: 100%;
	height: 3rem;
	background: -webkit-linear-gradient(transparent, #ffbc0a);
	background: -o-linear-gradient(transparent, #ffbc0a);
	background: linear-gradient(transparent, #ffbc0a);
	pointer-events: none;
	z-index: 1;
}

/* NEWS BEGIN */

.news-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	row-gap: 5rem;
	justify-items: center;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 10rem;
}

.news-cards {
	background-color: #ffffff;
	border-radius: 0.5rem;
	padding: 5rem;
	box-shadow: 0.5rem 1rem 2.5rem #999999;
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	width: 100%;
	max-width: 50rem;
	box-sizing: border-box;
}

.news-cards-thumbnail {
	width: 10rem;
	flex-shrink: 0;
}

.news-cards-thumbnail img {
	width: 100%;
	padding-right: 2rem;
	border-radius: 0.2rem;
}

.news-cards-content {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 1rem;
	color: #222222;
	font-weight: 100;
	position: relative;
	flex: 1 1 0;
}

.news-cards-content h4 {
	margin: 0 0 1rem 0;
}

.news-cards-content p {
	margin: 0;
}

.news-cards-date {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1rem;
	color: #ffffff;
	background: #9aacc0;
	padding: 0.25rem 0.75rem;
	border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
	transform: translateY(-1.75rem);
}

footer {
	display: flex;
	color: #ffffff;
	font-family: "IBM Plex Sans Condensed";
	align-content: center;
	justify-content: space-between;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 5rem;
	padding-bottom: 2rem;
}

footer img {
	width: 2rem;
	height: 2rem;
}

footer img:hover {
	filter: drop-shadow(0rem 0.1rem 1.5rem #999999);
}

.content {
	padding: 2rem;
}

.year-label {
	font-family: "Big Shoulders", sans-serif;
	font-size: 3rem;
	font-weight: 500;
	width: 4rem;
	text-align: right;
	position: static;
	color: #ffbc0a;
	font-size: 1rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	width: 6rem;
	text-align: center;
}

/* NAVBAR BEGIN */

.navbar-container {
	display: flex;
	gap: 5rem;
	position: sticky;
	top: 0px;
	left: 0px;
	font-family: "Big Shoulders", sans-serif;
	size: 3rem;
	color: #96acc9;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 100vw;
	z-index: 10;
}

/* NAVBAR END
~~~~~~~~~~~~~~~~~~~~~~~
	ALBUMS BEGIN */

.album:hover .year-label {
	opacity: 1;
	pointer-events: auto;
}

.album-list {
}

.album-toggle {
	display: none;
}

.album-main {
	display: flex;
	align-items: center;
	cursor: pointer;
	flex: 1;
}

.album {
	transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
	z-index: 1;
	display: flex;
	align-items: center;
	margin: 3rem 0;
	position: relative;
}

.album img {
	width: 100px;
	border-radius: 0.5rem;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
	transition:
		box-shadow 0.4s,
		transform 0.4s;
	border: 3px solid #222222;
	margin-left: 1.2rem;
}

.album-toggle:checked + .album-main img {
	transform: scale(1.2);
	box-shadow:
		0 0.2rem 5rem #ffbc0a,
		0 0.2rem 2rem #111009;
	border-color: #ffbc0a;
	z-index: 2;
}

.year-label {
	opacity: 0;
	transition: opacity 0.4s;
	pointer-events: none;
	margin-left: 1em;
	color: #ffbc0a;
	border-radius: 1rem;
	padding: 0.5rem 0.5rem;
	font-size: 1rem;
	font-weight: 500;
}

.album:hover .year-label,
.album-main:hover .year-label {
	opacity: 1;
	pointer-events: auto;
}

.album-info {
	display: none;
	font-family: "IBM Plex Sans Condensed", sans-serif;
	font-size: 1rem;
	position: absolute;
	left: 25vw;
	width: 40vw;
	min-width: 30vw;
	background-color: #ffffff;
	color: #222222;
	border-radius: 1rem;
	box-shadow: 0rem 2rem 2rem #999999;
	padding: 2rem;
	z-index: 5;
	pointer-events: none;
}

.album-toggle:checked ~ .album-info {
	display: block;
	animation: fadein 0.5s;
	pointer-events: auto;
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* MEDIA QUERY BEGIN */

@media (max-width: 850px) {
	.bodywrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			"biography"
			"discography";
	}

	.biography,
	.discography {
		grid-column: 1;
		width: 100vw;
	}

	.timeline {
		flex-direction: column;
		height: auto;
		border-bottom: none;
	}

	.album-info {
		position: static;
		width: 100%;
		min-width: 0;
		max-width: 98vw;
		box-sizing: border-box;
		border-radius: 0.7em;
		padding: 1em 0.5em;
		font-size: 1em;
		box-shadow: 0 0.2rem 1rem #33344422;
		margin: 2rem 0 0 -2rem;
	}

	.album {
		flex-direction: column;
		align-items: flex-start;
		min-width: 0;
		width: 100%;
	}

	.album img {
		margin-left: 0;
		margin-bottom: 0.6em;
	}

	.vertical-label {
		display: none;
	}

	.year-label {
		margin: -7rem;
	}

	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		padding: 1.5rem 0.5rem 1.5rem 0.5rem;
		box-sizing: border-box;
	}

	footer img {
		width: 2rem;
		max-width: 10vw;
		height: auto;
		padding: 0.2rem;
	}

	.background-image-attribution-r {
		font-family: "IBM Plex Sans Condensed", sans-serif;
		font-size: 0.5rem;
		text-align: center;
		align-items: center;
		align-content: center;
		color: #ffffff;
		position: absolute;
		bottom: 2rem;
		transform: translateX(50%);
		z-index: 10;
	}

	.background-image-attribution-l {
		font-family: "IBM Plex Sans Condensed", sans-serif;
		font-size: 0.5rem;
		text-align: center;
		color: #ffffff;
		position: absolute;
		bottom: 2rem;
		transform: translateX(50%);
		z-index: 10;
	}

	.news-cards {
		flex-direction: column;
		padding: 1.5rem;
		gap: 1rem;
		max-width: 98vw;
	}

	.news-cards-thumbnail {
		width: 100%;
		margin-bottom: 1rem;
	}
}

/* Font Rules BEGIN */

h1 {
	font-family: "Big Shoulders", sans-serif;
	color: #000000;
	font-size: 4rem;
	font-weight: 800;
}

h2 {
	font-family: "Big Shoulders", sans-serif;
	color: #000000;
	font-size: 3rem;
	font-weight: 650;
}

h3 {
	font-family: "Big Shoulders", sans-serif;
	color:;
	font-size: 2.5rem;
	font-weight: 500;
}

h4 {
	font-family: "Big Shoulders", sans-serif;
	color:;
	font-size: 2rem;
	font-weight: 400;
}

h5 {
	font-family: "Big Shoulders", sans-serif;
	color:;
	font-size: 1.5rem;
	font-weight: 300;
}

p {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #222222;
	font-size: 1rem;
	font-weight: 100;
	line-height: 3rem;
	text-indent: 3rem;
}

b {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #222222;
	font-size: 1rem;
	font-weight: 500;
}

i {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #000000;
	font-size: 1rem;
	font-weight: 100;
	transform: skewX(8deg);
}

u {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #222222;
	font-size: 1rem;
	font-weight: 100;
	text-decoration: underline;
}

a {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #9aacc6;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #9aacc6;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	line-height: 1.5rem;
}

a:active {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #222222;
	font-size: 1rem;
	font-weight: 500;
}

a:visited {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #9aacc6;
	font-size: 1rem;
	font-weight: 800;
}

li {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #000000;
	font-size: 1rem;
	font-weight: 100;
}

ul,
ol {
	font-family: "IBM Plex Sans Condensed", sans-serif;
	color: #222222;
	font-size: 1rem;
	font-weight: 100;
}
